# アパッチのフォルダ
bin
cgi-bin/~
error
icons
include
lib
logs
manual
modules

# アパッチのファイル（最上層）
ABOUT_APACHE.txt
CHANGES.txt
INSTALL.txt
LICENSE.txt
NOTICE.txt
OPENSSL-NEWS.txt
OPENSSL-README.txt
README.txt

# フォルダ関連
cgi-bin\podcast

# 設定ファイル
cgi-bin\podcast\podcast.rss
cgi-bin\cookies.txt
cgi-bin\user_name.txt
htdocs\counter.txt


# その他

*.mp*
test*.*
cgi-bin/podcast/podcast.rss
cgi-bin/user_name.txt
cgi-bin/cookies.txt
